# Python cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Testing
.pytest_cache/

# Ruff
.ruff_cache/

# Coverage - jeśli później zaczniesz go używać
.coverage
htmlcov/

# Build / packaging
build/
dist/
*.spec

# OS files
.DS_Store
Thumbs.db

# Local save / temporary game data
save.json
saves/

# Logs
*.log

.vscode/
